@use "./variables" as *;

// HEADER
@keyframes zoom {
	from {
		background-size: 130%;
	}

	to {
		background-size: 200%;
	}
}

@keyframes navbarAnimation {
	to {
		background-color: rgba(103, 70, 54, 0.8);
		backdrop-filter: blur(5px);
	}
}

@keyframes showItem {
	from {
		opacity: 0;
		transform: translateY(-1rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
