@use "./variables" as *;

body {
	color: $white;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
}

.cta-btn {
	display: block;
	padding: 1rem;
	font-family: $lato-bold;
	font-size: 2rem;
	color: $text-brown;
	background-color: $bg-light;
	transition: color 0.5s, background-color 0.5s;

	&:hover {
		color: $black;
		background-color: $text-green;
	}
}

.cta-text {
	position: relative;
	width: fit-content;
	font-family: $lato-bold, sans-serif;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translateY(50%);
		height: 2px;
		width: 20px;
		margin-left: 10px;
		background-color: $text-brown;
	}
}

.cta-text,
.link-text {
	transition: color 0.3s;

	&:hover {
		color: $black;
	}
}

.header {
	min-height: 100svh;
}

.hero-section {
	padding: 7rem 2rem 4rem;
}

.section {
	padding: 6rem 2rem 4rem;
}

.section-title {
	margin-bottom: 4rem;
	font-family: $lato-thin, sans-serif;
	font-size: 5rem;
	color: $text-brown;
}

.section-text,
.cta-text {
	font-size: 2rem;
	color: $text-brown;
}

.text-content,
.section-text {
	font-family: $lato-light;
}

.section-text {
	line-height: 130%;
}

.logo {
	font-family: $logo-font, sans-serif;
}

// MEDIA QUERIES
@media (min-width: 576px) {
	.section-title {
		font-size: 7rem;
	}

	.cta-btn {
		font-size: 2.4rem;
	}
}

@media (min-width: 768px) {
	.hero-section {
		padding-top: 12rem;
	}

	.section-title {
		margin-bottom: 7rem;
		font-size: 8rem;
	}
}

@media (min-width: 992px) {
	.section {
		padding: 9rem 2rem;
	}

	.section-title {
		margin-bottom: 8rem;
		font-size: 10rem;
	}
}

@media (min-width: 1100px) {
	.cta-btn {
			padding: 2rem;
			font-size: 2.8rem;
		}
	
}

@media (min-width: 1400px) {
	.hero-section {
		padding: 12rem 4rem 4rem;
	}

	.section {
		padding: 9rem 4rem;
	}
}

@media (min-width: 1600px) {
	.section-title {
		width: 50%;
	}
}
