*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100svh;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

button {
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	outline: none;
}

input,
select,
textarea {
	border: 1px solid transparent;
	outline: none;
}
