@use "../utils/variables" as *;
@use "../utils/animations" as *;

.header {
	min-height: fit-content;
}

.navbar {
	color: $white;
	background-color: $text-brown;
}

.hero-section {
	// min-height: 100svh;
	color: $text-brown;
	background-color: $bg-darker;
}
.info-box,
.form {
	margin: 0 auto;
}

.info-box {
	margin-bottom: 3rem;
	padding: 2rem;
	background-color: $bg-light;

	&__title {
		width: 100%;
		margin-bottom: 0.5rem;
	}

	&__address {
		margin: 3rem 0;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-family: $lato-regular, sans-serif;
	}
}

.form {
	&__input,
	&__textarea,
	&__input-date,
	&__fieldset-reservation {
		margin-top: 0.5rem;
		margin-bottom: 2rem;
	}

	&__input,
	&__textarea {
		width: 100%;
		padding: 0.5rem;
		font-size: 1.8rem;
		color: $text-brown;
		background-color: $bg-light;
		border-bottom: 1px solid $text-brown;
	}

	&__textarea {
		max-width: 100%;
		min-width: 100%;
		min-height: 10rem;
	}

	&__fieldset-reservation,
	&__fieldset-date {
		border: none;
	}

	&__fieldset-date {
		margin-top: 0.5rem;
		display: none;

		&--active {
			display: block;
		}
	}

	&__legend {
		margin-bottom: 0.5rem;
	}

	&__answers {
		display: flex;
		justify-content: center;
		gap: 2rem;
	}

	&__label-radio {
		display: flex;
		gap: 0.5rem;
	}

	&__button {
		margin: 0 auto;
	}

	&__error {
		color: $text-error;
		opacity: 0;

		&--active {
			opacity: 1;
		}
	}
}

@media (min-width: 576px) {
	.info-box,
	.form {
		width: 80%;
	}
}

@media (min-width: 768px) {
	.info-box,
	.form {
		width: 70%;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1100px) {
	.contact-box {
		display: flex;
	}

	.info-box,
	.form {
		width: 50%;
		max-width: 700px;
	}

	.info-box {
		margin-bottom: 0;
		display: flex;
		flex-direction: column;

		&__data {
			margin-top: auto;
		}

		&__address {
			margin-bottom: 5rem;
		}
	}

	.form {
		padding: 0 2rem;

		&__answers {
			justify-content: start;
		}

		&__button {
			margin: 0;
		}
	}
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
