@use "../utils/variables" as *;
@use "../utils/animations" as *;

.no-scroll {
	overflow: hidden;
}

.navbar {
	position: fixed;
	width: 100%;
	padding: 0 2rem;
	animation: forwards navbarAnimation;
	animation-timeline: view(0 100%);
	z-index: 100;
}

.navigation {
	height: 5.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $lato-light, sans-serif;
	z-index: 100;

	&__menu-btn {
		width: 2rem;
		height: 2rem;
		padding: 2em;
		background-image: url("../src/images/icons/menu-3-line.svg");
		background-repeat: no-repeat;
		background-position: center;
		z-index: 100;
	}

	&__menu {
		position: fixed;
		right: 0; // left/right: 0;
		top: 0;
		height: 100svh;
		width: 65%;
		padding-top: 12rem;
		padding-right: 3rem;
		display: flex;
		flex-direction: column;
		align-items: end;
		gap: 2.5rem;
		transform: scaleX(0);
		transform-origin: right; //left/right;
		background-color: rgba(103, 70, 54, 1);
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;

		&--active {
			transform: scaleX(1);
			opacity: 1;
		}
	}

	&__menu-mobile-shadow {
		position: absolute;
		top: 0;
		right: 100%; // 100%/-100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__menu-link {
		padding: 1rem;
		font-size: 2.2rem;
		transition: color 0.5s, background-color 0.5s;

		&:hover,
		&:focus {
			color: $text-brown;
			background-color: $bg-light;
		}

		&--cta-btn:hover {
			color: $black;
			background-color: $text-green;
		}
	}

	&__logo {
		padding: 1rem 1rem 1rem 0;
		display: flex;
		font-size: 2.8rem;
	}
}

// MEDIA QUERIES
@media (min-width: 576px) {
	.navigation {
		&__menu-link {
			font-size: 3rem;
		}
	}
}

@media (min-width: 768px) {
	.navigation {
		height: 9rem;

		&__menu-btn,
		&__menu-mobile-shadow {
			display: none;
		}

		&__menu {
			position: static;
			width: fit-content;
			height: 100%;
			padding: 0;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 1em;
			transform: scaleX(1);
			opacity: 1;
			background-color: transparent;
		}

		&__menu-item {
			position: relative;
			height: 100%;
			width: fit-content;
			display: flex;
			align-items: center;
		}

		&__menu-link {
			font-size: 2rem;

			&:focus-visible {
				outline: 1px solid $text-brown;
			}
		}

		&__logo {
			&:focus-visible {
				outline: 1px solid $bg-light;
			}
		}
	}
}

@media (min-width: 992px) {
	.navigation {
		height: 10rem;

		&__logo {
			font-size: 4rem;
		}
	}
}

@media (min-width: 1400px) {
	.navbar {
		padding: 0 4rem;
	}

	.navigation {
		&__logo {
			font-size: 5rem;
		}
	}
}
