@use "../utils/variables" as *;

.footer {
	display: flex;
	flex-wrap: wrap;
	// flex-direction: column;
	justify-content: center;
	gap: 4rem;
	color: $text-brown;
	background-color: $bg-darker;

	&__logo {
		width: fit-content;
		padding: 1rem;
		font-size: 4rem;
	}

	&__contact-box,
	&__link-box,
	&__media-box {
		padding: 0 1rem 1rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		font-size: 1.6rem;
	}

	&__box-title {
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
		opacity: 0.5;
	}

	a {
		display: flex;
		align-items: center;
	}

	&__icon {
		height: 24px;
		width: 24px;
		margin-right: 1rem;
	}
}

@media (min-width: 576px) {
	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
			gap: 3rem;
		}

		&__contact-box,
		&__link-box,
		&__media-box {
			align-items: start;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		justify-content: space-between;

		&__logo {
			padding-left: 0;
		}
	}
}

@media (min-width: 992px) {
	.footer {
		&__contact-box,
		&__link-box,
		&__media-box {
			gap: 1rem;
			font-size: 2rem;
		}

		&__logo {
			font-size: 5rem;
		}
	}
}

@media (min-width: 1200px) {
	.footer {
		&__logo {
			font-size: 6rem;
		}

		&__boxes {
			width: 50%;
		}
	}
}
